<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<br/><br/>
<table class="table table-dark">
    <thead>
    <tr>
        <th>#</th>
        <th>name</th>
        <th>lastName</th>
        <th>age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, iterStat : ${users}">
        <th th:text="${iterStat.count}">1</th>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="@{/users/edit(id=${user.id})}" th:object="${user}"> Редактировать</a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<hr/>
<a href="/users/add">Create new user</a>
</body>
</html>